name: Build PDF document
on:
  push:
    branches:
      - main
      - ci_cd

permissions:
  contents: write

jobs:
  build_pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Bot details
        id: bot-details
        uses: raven-actions/bot-details@v1

      - name: Install Typst
        uses: typst-community/setup-typst@v4
      - name: Build PDF
        run: typst compile main.typ main.pdf
      - name: Commit changes
        run: |
          git config user.name "${{ steps.bot-details.outputs.name }}"
          git config user.email "${{ steps.bot-details.outputs.email }}"
          git add -A
          git status --porcelain=v1
          git diff --stat
          ls -la
          if ! git diff --cached --quiet; then
            git commit -m "chore: update generated files [skip ci]"
          else
            echo "No changes to commit"
          fi
      - name: Push
        if: success()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"
          git push origin "HEAD:${BRANCH}"